/* Styles for yeswiki's template
 * Author: Marc Lanssens <marc.lanssens@supagro.fr>
 * Author: Florestan Bredow <florestan.bredow@supagro.fr>
 * under GNU General Public License
 */

$moustic-blue: #5b97d3;
$moustic-grey: #58585a;
$moustic-green: #cbde43;
$media-witdh: 1024px;

* { box-sizing: border-box; }

body {
  background: white;
  display: flex;
  flex-direction: column;
}

#header, #description, #menu, #news, #twitter, #gallery, #partner, footer {
  height: 300px;
  overflow: hidden;
  @media screen and (max-width: $media-witdh) {
    height: auto;
    min-height: 300px;
    max-width: 100%;
  }
}

#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 300%;
  justify-content: space-around;
}

#description {
  background: $moustic-blue;
  font-size: calc(16px + 1vw);
  color: white;
  padding: 0 5%;
  display: flex;
  align-items: center;
  div.page {
    min-height: inherit !important;
    height: 100% !important;
    div.row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      div.span6 {
        align-self: center;
        max-height: 100%;
        @media screen and (max-width: $media-witdh) {
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
          iframe {
            width: 100%;
          }
        }
      }
    }
  }
  div.span6:nth-child(2) {
    text-align: right;
  }
}

#videoIntro {
  height: 300px;
  width: 400px;
  @media screen and (max-width: $media-witdh) {
    width: 100%;
    height: auto;
    min-height: 450px;
  }
}

.dateHeader {
  color: $moustic-blue;
}


#menu {
  div.include {
    align-items: stretch;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        flex-shrink: 1;
        a {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 10px;
        }
        a:hover {
          transform: scale(1.1);
          text-decoration: none;
          animation: IconHover 1s;
        }
      }
    }
  }

  .icon {
    background-repeat: no-repeat;
    display: block;
    height: 110px;
    padding-left: 110px;
    width: 110px;
  }

  .icon-inscriptions {
    background-image: url('../images/icon-inscriptions.png');
  }

  .icon-programme {
    background-image: url('../images/icon-programme.png');
  }

  .icon-presentation {
    background-image: url('../images/icon-presentation.png');
  }

  .icon-ressources {
    background-image: url('../images/icon-ressources.png');
  }
}

#news {
  color: white;
  font-size: 100%;
  span.date {
    margin-right: 0;
    margin-left: auto;
  }
  h2 {
    font-weight: bold;
  }
  .background-image {
    background-size: cover;
  }
}

#twitter {
  div {
    height: 100%;
  }
  div.span6 {
    text-align: center;
  }
  div.span4 {
    align-content: stretch;
    display: flex;
    flex-flow: column;
    ul {
      align-self: auto;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      padding: 0;
      width: 100%;
    }
  }
}

#gallery {
  .background-image {
    background-size: cover;
  }
  ul {
    display: none;
  }
}

#partner {
  div.include {
    align-content: stretch;
    display: flex;
    flex-flow: column;
    height: 100%;
    .row {
      width: 100%;
      height: 100%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      list-style: none;
      width: 100%;
    }
    img {
      display: block;
      max-width: 80px !important;
      max-height: 80px !important;
      width: auto;
      height: auto;
      margin: 5px 15px;
    }
  }
}

footer {
  background: $moustic-grey;
  color: white;
  padding: 0 5%;
  a {
    color: $moustic-green;
  }
  div.col-xs-6 {
    width: 100%;
    padding: 0 5%;
  }
  textarea {
    height: 50px !important;
  }
}

#notice {
  text-align: center;
}

@keyframes IconHover {
	from {
		transform: scale(1.0);
	}
	to {
		transform: scale(1.2);
	}
}
