/* Styles for yeswiki's template
 * Author: Marc Lanssens <marc.lanssens@supagro.fr>
 * Author: Florestan Bredow <florestan.bredow@supagro.fr>
 * under MIT License
 */

$moustic-blue: #5b97d3;
$moustic-grey: #636363;
$moustic-green: #8ba733;
$moustic-orange: #d2701c;
$moustic-purple: #a07096;
$moustic-background: white;

$media-witdh: 1024px;

@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller_Bd.woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Aller';
  src: url('../fonts/Aller_Rg.woff');
  font-weight: normal;
  font-style: normal;
}

* { box-sizing: border-box; }

body {
  background: white;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(
      to bottom right,
      $moustic-blue,
      $moustic-green
    );
}

#header, #description, #menu, #news, #twitter, #gallery, #partner, footer {
  height: 300px;
  overflow: hidden;
  background: white;
  @media screen and (max-width: $media-witdh) {
    height: auto;
    min-height: 300px;
    max-width: 100%;
  }
}

#page, nav, #notice {
  background: white;
  @media screen and (max-width: $media-witdh) {
    height: auto;
    max-width: 100%;
  }
}


#header.default, footer.default, nav, #page, #notice.default {
  width: 100%;
  max-width: 970px;
  margin: auto;
}

#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Aller;
  font-weight: bold;
  font-size: 225%;
  justify-content: space-around;
  padding: 30px;
  div {
    flex-basis: 50%;
    text-align: center;
    @media screen and (max-width: $media-witdh) {
      flex-basis: auto;
    }
  }

  .date {
    color: $moustic-blue;
    text-align: left;
    font-size: 80%;
  }
  .title {
    text-align: left;
    color: $moustic-orange;
    margin-bottom: 0;
  }
  .subTitle {
    text-align: right;
    color: $moustic-grey;
    font-size: 50%
  }

  @media screen and (max-width: $media-witdh) {
    img[role=logo] {
      margin-bottom: 30px;
    }
  }
}

#description {
  background: $moustic-blue;
  font-size: calc(16px + 1vw);
  color: white;
  padding: 0 5%;
  display: flex;
  align-items: center;
  div.page {
    min-height: inherit !important;
    height: 100% !important;
    div.row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      div.span6 {
        align-self: center;
        max-height: 100%;
        @media screen and (max-width: $media-witdh) {
          width: 100%;
          margin-top: 20px;
          margin-bottom: 20px;
          iframe {
            width: 100%;
          }
        }
      }
    }
  }
  div.span6:nth-child(2) {
    text-align: right;
  }
}

#videoIntro {
  height: 300px;
  width: 400px;
  @media screen and (max-width: $media-witdh) {
    width: 100%;
    height: auto;
    min-height: 450px;
  }
}

.dateHeader {
  color: $moustic-blue;
}


#menu {
  div.include {
    align-items: stretch;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 100%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      width: 100%;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        flex-shrink: 1;
        a {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 10px;
        }
        a:hover {
          transform: scale(1.1);
          text-decoration: none;
          animation: IconHover 1s;
        }
      }
    }
  }

  .icon {
    background-repeat: no-repeat;
    display: block;
    height: 110px;
    padding-left: 110px;
    width: 110px;
  }

  .icon-inscriptions {
    background-image: url('../images/icon-inscriptions.png');
  }

  .icon-programme {
    background-image: url('../images/icon-programme.png');
  }

  .icon-presentation {
    background-image: url('../images/icon-presentation.png');
  }

  .icon-ressources {
    background-image: url('../images/icon-ressources.png');
  }
}

#news {
  color: white;
  font-size: 100%;
  span.date {
    margin-right: 0;
    margin-left: auto;
  }
  h2 {
    font-weight: bold;
  }
  .background-image {
    background-size: cover;
  }
}

#twitter {
  div {
    height: 100%;
  }
  div.span6 {
    text-align: center;
  }
  div.span4 {
    align-content: stretch;
    display: flex;
    flex-flow: column;
    ul {
      align-self: auto;
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      padding: 0;
      width: 100%;
    }
  }
}

#gallery {
  .background-image {
    background-size: cover;
  }
  ul {
    display: none;
  }
}

#partner {
  div.include {
    align-content: stretch;
    padding: 0 30px;
    display: flex;
    flex-flow: column;
    height: 100%;
    .row {
      width: 100%;
      height: 100%;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      list-style: none;
      width: 100%;
    }
    img {
      display: block;
      max-width: 80px !important;
      max-height: 80px !important;
      width: auto;
      height: auto;
      margin: 5px 15px;
    }
  }
}

nav {
  font-family: Aller;
  padding-left: 30px;
  width: 100%;
  background-color: $moustic-grey;
  height: auto;
  overflow: visible;

  @media screen and (max-width: $media-witdh) {
    padding-left: 0;

    .navbar-nav {
      margin: 0;
    }
  }

  ul {
    display: flex;
    width: 100%;
    justify-content:flex-start;
    flex-direction: row;
    font-size: 24px;

    @media screen and (max-width: $media-witdh) {
      flex-direction: column;
      li {
        text-align: center;
      }
    }

    .caret {
      display: none;
    }

    li a {
      color: white;
      text-decoration: none;
      ul {
        background: $moustic-background;
      }
    }

    li.open:nth-child(1) > a:focus,
    li:nth-child(1) > a:hover {
      background-color: white;
      color: $moustic-green
    }

    li:nth-child(1) {
      background: $moustic-green;
      ul {
        border-radius: 0;
        border: solid 1px $moustic-green;
        border-top: none;
        box-shadow: none;
        margin-left: -1px;
        li {
          background-color: transparent !important;
          a {
            color: $moustic-green;
            @media screen and (max-width: $media-witdh) {
              color: white;
            }
          }
          a:hover, a.active-link, a.active-link:hover {
            background-color: $moustic-green;
            color: white;
          }
        }
      }
    }

    li.open:nth-child(2) > a:focus, li:nth-child(2) > a:hover {
      background-color: white;
      color: $moustic-orange;
    }

    li:nth-child(2) {
      background: $moustic-orange;
      ul {
        border-radius: 0;
        border: solid 1px $moustic-orange;
        border-top: none;
        box-shadow: none;
        margin-left: -1px;
        li {
          background-color: transparent !important;
          a {
            color: $moustic-orange;
            @media screen and (max-width: $media-witdh) {
              color: white;
            }
          }
          a:hover, a.active-link, a.active-link:hover {
            background-color: $moustic-orange;
            color: white;
          }
        }
      }
    }

    li.open:nth-child(3) > a:focus, li:nth-child(3) > a:hover {
      background-color: white;
      color: $moustic-blue;
    }

    li:nth-child(3) {
      background: $moustic-blue;
      ul {
        border-radius: 0;
        border: solid 1px $moustic-blue;
        border-top: none;
        box-shadow: none;
        margin-left: -1px;
        li {
          background-color: transparent !important;
          a {
            color: $moustic-blue;
            @media screen and (max-width: $media-witdh) {
              color: white;
            }
          }
          a:hover, a.active-link, a.active-link:hover {
            background-color: $moustic-blue;
            color: white;
          }
        }
      }
    }

    li.open:nth-child(4) > a:focus, li:nth-child(4) > a:hover {
      background-color: white;
      color: $moustic-purple;
    }

    li:nth-child(4) {
      background: $moustic-purple;
      ul {
        border-radius: 0;
        border: solid 1px $moustic-purple;
        border-top: none;
        box-shadow: none;
        margin-left: -1px;
        li {
          background-color: transparent !important;
          a {
            color: $moustic-purple;
            @media screen and (max-width: $media-witdh) {
              color: white;
            }
          }
          a:hover, a.active-link, a.active-link:hover {
            background-color: $moustic-purple;
            color: white;
          }
        }
      }
    }
  }
}

#page {
  font-size: 16px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 150px;
  height: auto;

  @media screen and (max-width: $media-witdh) {
    font-size: calc(16px + 0.5vw);
  }

  h1 {
    color: $moustic-blue;
    font-size: 200%;
    font-family: Aller;
    font-weight: bold;
  }

  h2 {
    color: $moustic-green;
    font-size: 150%;
    font-weight: bold;
    margin-left: 15px;
  }

  h3 {
    color: $moustic-grey;
    font-weight: bold;
    font-size: 125%;
    margin-left: 30px;
  }

  h4 {
    color: $moustic-grey;
    font-size: 112%;
    font-weight: lighter;
    margin-left: 45px;
  }

  a {
    color: $moustic-orange;
  }

  .well {
    background: $moustic-green;
    border-radius: 0;
    font-size: 125%;
  }

  .btn {
    color: white;
  }

  .btn-default {
    color: #333;
  }

  li.active {
    a {
      color: white;
    }
  }

  div.footer {
    font-size: 80%;
  }
}

footer {
  background: $moustic-grey;
  color: white;
  padding: 0 30px;
  a {
    color: $moustic-green;
  }
  div.span4:nth-child(2) {
    div.col-xs-6 {
      width: 100%;
      padding: 0 5%;
    }
  }

  div.span4:nth-child(3) {
    text-align: right;
  }

  textarea {
    height: 50px !important;
  }

  div.include {
    height: 100%;
  }

  div.row {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    div.span4 {
      min-width: 300px;
    }
    @media screen and (max-width: $media-witdh) {
      div.span4 {
        width: 100%;
        text-align: center;
        margin: 20px auto;
        figure.right {
          float: none;
        }
      }
    }
  }
}

#notice {
  text-align: center;
  height: auto;
}

@keyframes IconHover {
	from {
		transform: scale(1.0);
	}
	to {
		transform: scale(1.2);
	}
}
