/* Styles for yeswiki's template
 * Author: Marc Lanssens <marc.lanssens@supagro.fr>
 * Author: Florestan Bredow <florestan.bredow@supagro.fr>
 * under MIT License
 */
@font-face {
  font-family: 'Aller';
  src: url("../fonts/Aller_Bd.woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Aller';
  src: url("../fonts/Aller_Rg.woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

body {
  background: white;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #5b97d3, #8ba733); }

#header, #description, #menu, #news, #twitter, #gallery, #partner, footer {
  height: 300px;
  overflow: hidden;
  background: white; }
  @media screen and (max-width: 1024px) {
    #header, #description, #menu, #news, #twitter, #gallery, #partner, footer {
      height: auto;
      min-height: 300px;
      max-width: 100%; } }

#page, nav, #notice {
  background: white; }
  @media screen and (max-width: 1024px) {
    #page, nav, #notice {
      height: auto;
      max-width: 100%; } }

#header.default, footer.default, nav, #page, #notice.default {
  width: 100%;
  max-width: 970px;
  margin: auto; }

#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Aller;
  font-weight: bold;
  font-size: 225%;
  justify-content: space-around;
  padding: 30px; }
  #header div {
    flex-basis: 50%;
    text-align: center; }
    @media screen and (max-width: 1024px) {
      #header div {
        flex-basis: auto; } }
  #header .date {
    color: #5b97d3;
    text-align: left;
    font-size: 80%; }
  #header .title {
    text-align: left;
    color: #d2701c;
    margin-bottom: 0; }
  #header .subTitle {
    text-align: right;
    color: #636363;
    font-size: 50%; }
  @media screen and (max-width: 1024px) {
    #header img[role=logo] {
      margin-bottom: 30px; } }

#description {
  background: #5b97d3;
  font-size: calc(16px + 1vw);
  color: white;
  padding: 0 5%;
  display: flex;
  align-items: center; }
  #description div.page {
    min-height: inherit !important;
    height: 100% !important; }
    #description div.page div.row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%; }
      #description div.page div.row div.span6 {
        align-self: center;
        max-height: 100%; }
        @media screen and (max-width: 1024px) {
          #description div.page div.row div.span6 {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px; }
            #description div.page div.row div.span6 iframe {
              width: 100%; } }
  #description div.span6:nth-child(2) {
    text-align: right; }

#videoIntro {
  height: 300px;
  width: 400px; }
  @media screen and (max-width: 1024px) {
    #videoIntro {
      width: 100%;
      height: auto;
      min-height: 450px; } }

.dateHeader {
  color: #5b97d3; }

#menu div.include {
  align-items: stretch;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 100%; }
  #menu div.include ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0; }
    #menu div.include ul li {
      display: flex;
      flex-shrink: 1; }
      #menu div.include ul li a {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px; }
      #menu div.include ul li a:hover {
        transform: scale(1.1);
        text-decoration: none;
        animation: IconHover 1s; }
#menu .icon {
  background-repeat: no-repeat;
  display: block;
  height: 110px;
  padding-left: 110px;
  width: 110px; }
#menu .icon-inscriptions {
  background-image: url("../images/icon-inscriptions.png"); }
#menu .icon-programme {
  background-image: url("../images/icon-programme.png"); }
#menu .icon-presentation {
  background-image: url("../images/icon-presentation.png"); }
#menu .icon-ressources {
  background-image: url("../images/icon-ressources.png"); }

#news {
  color: white;
  font-size: 100%; }
  #news span.date {
    margin-right: 0;
    margin-left: auto; }
  #news h2 {
    font-weight: bold; }
  #news .background-image {
    background-size: cover; }

#twitter div {
  height: 100%; }
#twitter div.span6 {
  text-align: center; }
#twitter div.span4 {
  align-content: stretch;
  display: flex;
  flex-flow: column; }
  #twitter div.span4 ul {
    align-self: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%; }

#gallery .background-image {
  background-size: cover; }
#gallery ul {
  display: none; }

#partner div.include {
  align-content: stretch;
  padding: 0 30px;
  display: flex;
  flex-flow: column;
  height: 100%; }
  #partner div.include .row {
    width: 100%;
    height: 100%; }
  #partner div.include ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style: none;
    width: 100%; }
  #partner div.include img {
    display: block;
    max-width: 80px !important;
    max-height: 80px !important;
    width: auto;
    height: auto;
    margin: 5px 15px; }

nav {
  font-family: Aller;
  padding-left: 30px;
  width: 100%;
  background-color: #636363;
  height: auto;
  overflow: visible; }
  @media screen and (max-width: 1024px) {
    nav {
      padding-left: 0; }
      nav .navbar-nav {
        margin: 0; } }
  nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 24px; }
    @media screen and (max-width: 1024px) {
      nav ul {
        flex-direction: column; }
        nav ul li {
          text-align: center; } }
    nav ul .caret {
      display: none; }
    nav ul li a {
      color: white;
      text-decoration: none; }
      nav ul li a ul {
        background: white; }
    nav ul li.open:nth-child(1) > a:focus,
    nav ul li:nth-child(1) > a:hover {
      background-color: white;
      color: #8ba733; }
    nav ul li:nth-child(1) {
      background: #8ba733; }
      nav ul li:nth-child(1) ul {
        border-radius: 0;
        border: solid 1px #8ba733;
        border-top: none;
        box-shadow: none;
        margin-left: -1px; }
        nav ul li:nth-child(1) ul li {
          background-color: transparent !important; }
          nav ul li:nth-child(1) ul li a {
            color: #8ba733; }
            @media screen and (max-width: 1024px) {
              nav ul li:nth-child(1) ul li a {
                color: white; } }
          nav ul li:nth-child(1) ul li a:hover, nav ul li:nth-child(1) ul li a.active-link, nav ul li:nth-child(1) ul li a.active-link:hover {
            background-color: #8ba733;
            color: white; }
    nav ul li.open:nth-child(2) > a:focus, nav ul li:nth-child(2) > a:hover {
      background-color: white;
      color: #d2701c; }
    nav ul li:nth-child(2) {
      background: #d2701c; }
      nav ul li:nth-child(2) ul {
        border-radius: 0;
        border: solid 1px #d2701c;
        border-top: none;
        box-shadow: none;
        margin-left: -1px; }
        nav ul li:nth-child(2) ul li {
          background-color: transparent !important; }
          nav ul li:nth-child(2) ul li a {
            color: #d2701c; }
            @media screen and (max-width: 1024px) {
              nav ul li:nth-child(2) ul li a {
                color: white; } }
          nav ul li:nth-child(2) ul li a:hover, nav ul li:nth-child(2) ul li a.active-link, nav ul li:nth-child(2) ul li a.active-link:hover {
            background-color: #d2701c;
            color: white; }
    nav ul li.open:nth-child(3) > a:focus, nav ul li:nth-child(3) > a:hover {
      background-color: white;
      color: #5b97d3; }
    nav ul li:nth-child(3) {
      background: #5b97d3; }
      nav ul li:nth-child(3) ul {
        border-radius: 0;
        border: solid 1px #5b97d3;
        border-top: none;
        box-shadow: none;
        margin-left: -1px; }
        nav ul li:nth-child(3) ul li {
          background-color: transparent !important; }
          nav ul li:nth-child(3) ul li a {
            color: #5b97d3; }
            @media screen and (max-width: 1024px) {
              nav ul li:nth-child(3) ul li a {
                color: white; } }
          nav ul li:nth-child(3) ul li a:hover, nav ul li:nth-child(3) ul li a.active-link, nav ul li:nth-child(3) ul li a.active-link:hover {
            background-color: #5b97d3;
            color: white; }
    nav ul li.open:nth-child(4) > a:focus, nav ul li:nth-child(4) > a:hover {
      background-color: white;
      color: #a07096; }
    nav ul li:nth-child(4) {
      background: #a07096; }
      nav ul li:nth-child(4) ul {
        border-radius: 0;
        border: solid 1px #a07096;
        border-top: none;
        box-shadow: none;
        margin-left: -1px; }
        nav ul li:nth-child(4) ul li {
          background-color: transparent !important; }
          nav ul li:nth-child(4) ul li a {
            color: #a07096; }
            @media screen and (max-width: 1024px) {
              nav ul li:nth-child(4) ul li a {
                color: white; } }
          nav ul li:nth-child(4) ul li a:hover, nav ul li:nth-child(4) ul li a.active-link, nav ul li:nth-child(4) ul li a.active-link:hover {
            background-color: #a07096;
            color: white; }

#page {
  font-size: 16px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 150px;
  height: auto; }
  @media screen and (max-width: 1024px) {
    #page {
      font-size: calc(16px + 0.5vw); } }
  #page h1 {
    color: #5b97d3;
    font-size: 200%;
    font-family: Aller;
    font-weight: bold; }
  #page h2 {
    color: #8ba733;
    font-size: 150%;
    font-weight: bold;
    margin-left: 15px; }
  #page h3 {
    color: #636363;
    font-weight: bold;
    font-size: 125%;
    margin-left: 30px; }
  #page h4 {
    color: #636363;
    font-size: 112%;
    font-weight: lighter;
    margin-left: 45px; }
  #page a {
    color: #d2701c; }
  #page .well {
    background: #8ba733;
    border-radius: 0;
    font-size: 125%; }
  #page .btn {
    color: white; }
  #page .btn-default {
    color: #333; }
  #page li.active a {
    color: white; }
  #page div.footer {
    font-size: 80%; }

footer {
  background: #636363;
  color: white;
  padding: 0 30px; }
  footer a {
    color: #8ba733; }
  footer div.span4:nth-child(2) div.col-xs-6 {
    width: 100%;
    padding: 0 5%; }
  footer div.span4:nth-child(3) {
    text-align: right; }
  footer textarea {
    height: 50px !important; }
  footer div.include {
    height: 100%; }
  footer div.row {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
    footer div.row div.span4 {
      min-width: 300px; }
    @media screen and (max-width: 1024px) {
      footer div.row div.span4 {
        width: 100%;
        text-align: center;
        margin: 20px auto; }
        footer div.row div.span4 figure.right {
          float: none; } }

#notice {
  text-align: center;
  height: auto; }

@keyframes IconHover {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }

/*# sourceMappingURL=default.css.map */
